/* BACKGROUND: 
main color #FFFFFF
butt0n + team section bg color #F5F4FA 
header #FFFFFF
footer (secondary bg color) #2F303A */

/* TEXT COLOR: */
/* main title color #212121 */
/* main text (p) color #757575 */
/* accent & hover effect #2196F3 */
/* h1 title + buttom text #FFFFFF */
/* footer text primary color #FFFFFF 
    secondary text color rgba(255, 255, 255, 0.6) */

    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    img {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    h1,
    h2,
    h3,
    p {
      margin-top: 0;
    }



    :root {
        --primary-text-color: #757575;
        --title-text-color: #212121;
        --accent-color: #2196F3;
        --primary-bg-color: #FFFFFF;
        --secondary-bg-color: #2F303A;
        --primary-button-color: #F5F4FA;

    }

    body {
        background-color: var(--primary-bg-color);
        color: var(--primary-text-color);
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .list {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    .visually-hidden {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding:0 !important;
        border:0 !important;
        height: 1px !important; 
        width: 1px !important; 
        overflow: hidden;
    }

    .logo {
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-color);
        text-decoration: none;
    }

    .logo-header {
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        text-decoration: none;
    }

    .hero-btn {
        display: inline-block;
        border-radius: 4px;
        padding: 10px 32px;
        border: 0px;
        min-width: 200px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        text-align: center;
        letter-spacing: 0.06em;

        background-color: var(--accent-color);
        color: #FFFFFF;
        cursor: pointer;
    }

    .btn {
        border-radius: 4px;
        padding: 6px 22px;
        border: 0px;

        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;

        background-color: var(--primary-button-color);
        color: var(--title-text-color);
        cursor: pointer;
    } 

    .btn:hover,
    .btn:focus {
        background-color: var(--accent-color);
        color: #FFFFFF;
    }

    h1 {
        color: #FFFFFF;
    }

    .container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .feature-section {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .feature {
        margin-bottom: 10px;

        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-color);
    }

    .feature-text {
        margin-bottom: 0px;
        width: 270px;

        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    .feature-flexbox {
        display: flex;
    }

    .feature-flexbox li:not(:last-child) {
        margin-right: 30px;
    }

    .feature-item::before {
        content: '';
        display: block;
        height: 120px;
        margin-bottom: 30px;
        background-color: var(--primary-button-color);
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .icon-antenna::before {
        background-image: url(../imeges/icons/antenna.svg);
    }

    .icon-clock::before {
        background-image: url(../imeges/icons/clock.svg);
    }

    .icon-diagram::before {
        background-image: url(../imeges/icons/diagram.svg);
    }

    .icon-astronaut::before {
        background-image: url(../imeges/icons/astronaut.svg);
    }

    .specialization-section {
        padding-bottom: 94px;
    }

    .specialization {
        display: flex;
    }

    .specialization li:not(:last-child) {
        margin-right: 30px;
    }

    .specialization-list {
        position: relative;
    }

    .specialization-title {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 27px;
        padding-bottom: 27px;
        margin: 0;

        display: block;
        text-align: center;

        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: var(--primary-bg-color);
        background-color: rgba(47, 48, 58, 0.8);
    }

    .section-title {
        margin-bottom: 50px;

        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.167;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }

    .team {
        margin-top: 30px;
        margin-bottom: 10px;

        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.187;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }

    .team-item {
        margin-bottom: 16px;

        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.187;
        text-align: center;
        letter-spacing: 0.03em;
    }

    .team-flexbox {
        display: flex;
    }

    .team-flexbox > li:not(:last-child) {
        margin-right: 30px;
    }

    .team-list {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                    0px 1px 1px rgba(0, 0, 0, 0.14), 
                    0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background: #FFFFFF;
    }

    .social {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
    
    .social-links {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        fill: #AFB1B8;
        background-color: var(--primary-bg-color);
    }

    .social-icons {
        width: 20px;
        height: 20px;
    }

    .social > li:not(:last-child) {
        margin-right: 10px;
    }

    .social-links:hover .social-icons,
    .social-links:focus .social-icons {
        fill: var(--primary-bg-color);
    }

    .social-links:hover,
    .social-links:focus {
        background-color: var(--accent-color);
    }
  

    .hero-section {
        padding-top: 200px;
        padding-bottom: 200px;


        /* background-color: var(--secondary-bg-color); */
        text-align: center;
    }
    
    .overlay {
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;

        background-image: linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)
            ), 
            url(../imeges/hero-img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero-title {
        margin-bottom: 30px;

        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    .hero {
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-team {
        padding-top: 94px;
        padding-bottom: 94px;
        
        background-color: #F5F4FA;
    }

    /* Header */

    .nav {
        display: flex;
        align-items: center;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .site-nav {
        display: flex;
        margin-left: 93px;
    }

    .site-nav li:not(:last-child) {
        margin-right: 50px;
    }

    .nav-link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--title-text-color);
    }

    .nav-link:focus,
    .nav-link:hover {
        color: var(--accent-color);
    }

    .contacts {
        display: flex;
        margin-left: auto;
    }

    .contacts li:not(:last-child) {
        margin-right: 50px;
    }

    .contacts-header {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
        align-items: center;

        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--primary-text-color);
    }

    .icon-contacts {
        margin-right: 10px;
    }

    .contacts-header:hover,
    .contacts-header:focus {
        color: var(--accent-color);
    } 

    .contacts-header:hover .icon-contacts,
    .contacts-header:focus .icon-contacts {
        fill: var(--accent-color);
    }


    /* Clients section */

    .clients-section {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .clients-title {
        margin-bottom: 50px;

        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-size: 36px;
        line-height: 1.167;
        letter-spacing: 0.03em;
        text-align: center;

        color: var(--title-text-color);
    }

    .clients-flexbox {
        display: flex;
    }

    .clients-link {
        display: flex;
        width: 170px;
        height: 90px;
        border: 1px solid #AFB1B8;
        box-sizing: border-box;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
    }

    .clients-icon {
        fill: #AFB1B8;
    }

    .clients-link:hover .clients-icon,
    .clients-link:focus .clients-icon {
        fill: var(--accent-color);
    }

    .clients-link:hover,
    .clients-link:focus {
        border-color: var(--accent-color);;
    }

    .clients-flexbox > li:not(:last-child) {
        margin-right: 30px;
    }

    /* Footer */

    footer {
        background-color: var(--secondary-bg-color);
    }

    .footer {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    address {
        font-style: normal;
    }

    .logo-footer {
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: #FFFFFF;
    }

    .address {
        margin-bottom: 9px;
        margin-top: 20px;

        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    .contacts-footer {
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        text-decoration: none;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    .address-flexbox {
        display: flex;
        flex-direction: column;
    }

    .contacts-footer + .contacts-footer { 
        margin-top: 9px;
    }

    .join {
        margin-bottom: 20px;

        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;

        text-transform: uppercase;
        color: var(--primary-bg-color);
    }

    .our-social-links {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        fill: var(--primary-bg-color);
        background-color: rgba(255, 255, 255, 0.1);
    }

    .our-social-links:hover,
    .our-social-links:focus {
        background-color: var(--accent-color);
    }

    .footer-flexbox {
        display: flex;
    }

    .address-container {
        margin-right: 70px;
    }

    .join-container {
        padding-top: 12px;
    }



    /* ./Portfolio.html */

    .line {
        display: flex;
        border: 1px solid #ECECEC;
        flex-grow: 1;
    }

    .filter {
        display: flex;
        justify-content: center;
        /* paddind or margin???? */
        padding-top: 94px;
        padding-bottom: 50px;
    }

    .filter li:not(:last-child) {
        margin-right: 8px;
    }

    .portfolio-section {
        padding-bottom: 94px;
    }

    .portfolio {
        display: flex;
        flex-wrap: wrap;
    }

    .portfolio-list {
        margin-right: 30px;
        margin-bottom: 30px;
        border: 1px solid #EEEEEE;
        width: 370px;
        background: #FFFFFF;
    }

    .portfolio-list:nth-child(3n) {
        margin-right: 0px;
    }

    .portfolio-list:nth-last-child(-n +3) {
        margin-bottom: 0px;
    }

    .portfolio-list:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                    0px 4px 4px rgba(0, 0, 0, 0.06), 
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    .examples {
        margin-top: 20px;
        margin-bottom: 4px;
        padding-left: 24px;
        padding-right: 24px;

        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--title-text-color);
    }

    .examples-item {
        padding-bottom: 20px;
        margin-bottom: 0px;
        padding-left: 24px;
        padding-right: 24px;

        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
    }

    /* Current page */
    
    .nav-link.current {
        color: var(--accent-color);
    }